@import "tailwindcss";

@plugin "tailwind-scrollbar";

body {
  color: white;
  background-color: #1f1f1f;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@theme {
  --color-layout: #248dce;
  --color-primary: #1f1f1f;
  --color-surface: #333333;
  --color-surface-secondary: #4c4c4c;
  --color-icon: #808080;
  --color-text-primary: #ffffff;
  --color-text-secondary: #cccccc;
}

.flex-center {
  @apply flex  justify-center items-center;
}

input::placeholder {
  color: #cccccc;
  opacity: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrollbar::-webkit-scrollbar {
  width: 0;
}

.scrollbar:hover::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(128, 128, 128, 0.76);
  border-radius: 3px;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 3px;
}

.scrollbar-y {
  @apply scrollbar-thumb-gray-300 overflow-y-auto;
}
